# Telegram
TELEGRAM_BOT_TOKEN=your_token_here
WEBHOOK_URL=HTTPS-URL

# Database
DATABASE_URL=postgresql+asyncpg://user:pass@host:5432/db

# OpenRouter
OPENROUTER_API_KEY=your_key_here
OPENROUTER_MODEL=gpt-4.2-mini # или google/gemini-2.0-flash-001

# USDA
USDA_API_KEY=your_key_here